 <header class="bg-primary .bg-gradient shadow-sm">
     <div class="container-fluid py-3">
         <div class="text-center">
             <a class="text-white" style="text-decoration: none;" href="{% url 'index' %}">
                 <h2 class="mb-1 text-white">Sistemas de Chaves</h2>
             </a>
             <p class="text-white">Centro de Tecnologia UFSM</p>
             <a class="text-white" href="{% url 'sala_criar' %}">Cadastrar Salas</a>
             <a class="text-white" href="{% url 'salas' %}">Listar Salas</a>
             <a class="text-white" href="{% url 'servidores' %}">Listar Servidores</a>
             <a class="text-white" href="{% url 'servidor_criar' %}">Cadastrar Servidores</a>
             <a class="text-white" href="{% url 'alunos' %}">Listar Alunos</a>
             <a class="text-white" href="{% url 'aluno_criar' %}">Cadastrar Alunos</a>
             <a class="text-white" href="{% url 'chaves' %}">Listar Chaves</a>
             <a class="text-white" href="{% url 'chave_criar' %}">Cadastrar Chaves</a>
         </div>
     </div>
 </header>