{% extends 'index.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <section class="section">
    <div class="container">
      {% if object_list %}
      <h3 class="text-center">Copias das Chaves</h3>
        <div class="card shadow m-3 col-md-12 mx-auto">
          <div class="card">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="table-primary">
                  <th>Sala</th>
                  <th>Número da Cópia</th>
                  <th>Status</th>
                  <th style="width: 100px; text-align: center">Ações</th>
                </thead>
                <tbody>
                {% for copiachave in object_list %}
                  <tr>
                    <td>{{ copiachave.chave.sala }}</td>
                    <td>{{ copiachave.numeroCopia }}</td>
                    <td>{{ copiachave.get_status_display }}</td>
                    <td style="text-align: center">
                      <a href="{% url 'copia_editar' copiachave.pk %}">
                        <span class="icon">
                         <i class="bi bi-pencil-fill"></i>
                        </span>
                      </a>
                      <a href="{% url 'copia_apagar' copiachave.pk %}">
                        <span class="icon">
                          <i class="bi bi-trash-fill"></i>
                        </span>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% else %}
      <div class="card text-center shadow m-3 col-md-12 mx-auto">
        <div class="card header">
          <h1 class="card-tittle">Nenhuma Cópia Cadastrada</h1>
        </div>
        <div class="card-body">
          <a class="btn btn-primary" role="button" href="{%  url 'chaves' %}">Listar chaves</a>
        </div>
      </div>
      {% endif %}
    </div>
  </section>
{% endblock %}