{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="card shadow m-3 col-md-6 mx-auto">
        <div class="card-body">
            <div class="row">
                <h3 class="text-center">Dados do Emprestimo</h3>
                {% for emprestimo in object_list %}
                <p class="p-2 mt-2"><strong>Data de retirada: </strong>{{ emprestimo.dataRetirada }}</p>
                {% for reserva in emprestimo.reservas.all %}
                <p class="p-2 mt-2"><strong>Titular: </strong>{{ reserva.titular }}</p>
                {% if not forloop.last %}, {% endif %}, {% endfor %}
                <p class="p-2 mt-2"><strong>Porteiro responsável pelo recebimento da chave: </strong>X</p>
                <div class="text-end">
                        <a href="{% url 'emprestimos' %}" class="btn btn-primary text-white" type="button">
                           <span class="text">Voltar</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}