{% extends 'index.html' %}
{% load django_bootstrap5 %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="card-body">
            <h3 class="text-center mb-4">Empréstimos Realizados</h3>
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-success">
                        <th>ID</th>
                        <th>Reservas Vinculadas</th>
                        <th>Início do Empréstimo</th>
                        <th>Fim do Empréstimo</th>
                        <th style="width: 120px; text-align: center">Ações</th>
                    </thead>
                    <tbody>
                        {% for emprestimo in object_list %}
                            <tr>
                                <td>{{ emprestimo.id }}</td>

                                <td>
                                    {% for reserva in emprestimo.reservas.all %}
                                        Reserva #{{ reserva.id }}
                                        {% if not forloop.last %}, {% endif %}
                                    {% empty %}
                                        <span class="text-muted">Nenhuma reserva</span>
                                    {% endfor %}
                                </td>

                                <td>{{ emprestimo.dataRetirada }}</td>
                                <td>{{ emprestimo.dataDevolucao }}</td>

                                <td style="text-align: center">
                                    <a href="{% url 'emprestimo_editar' emprestimo.pk %}" class="text-primary me-2" title="Editar">
                                        <span class="icon">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}