<h3>Olá <strong>{{titular}}</strong>!</h3>
<p>Estamos enviando este e-mail para comunicar que sua reserva foi realizada.</p>

<h3>Dados da Reserva</h3>
<p><strong>Chave Reservada: </strong> {{ chave }} </p>
<p><strong>Horário de Inicio: </strong> {{ inicioReserva }} </p>
<p><strong>Horário de Fim: </strong> {{ fimReserva }} </p>

<h4>Informações Importantes</h4>

<p>Em caso de atraso de 15 minutos para a retirada da chave, sua reserva será <strong>cancelada</strong> automáticamente pelo sistema.</p>

<p>Não é possível retirar a chave caso tenha algum item com entrega em atraso.</p>

<p>Caso não ocorra a devolução dentro de 24 horas o sistema irá enviar um alerta para seu email.</p>

<p style="color: darkcyan"><strong>Projeto Chaves</strong></p>